*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(cake2.jpg);
    background-repeat: no-repeat;
    background-size:2000px 1000px;
}
#text1{
    color:darkolivegreen;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 40px;
}
#text2{
    color: black;
    font-size: 40px;
    margin-left: 90px;
}
button{
    height: 60px;
    width: 100px;
    background-color: cadetblue;
}
button a{
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
button:hover{
    background-color:aliceblue;
}